* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chemistry {
  background-image: url("../../../../../Pictures/Saved Pictures/back1.jpg");
  min-height: 90vh;
  background-size: contain;
  border: 2px solid red;
  background-repeat:round;
  background-position: 50px 100px;
}
