* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
}

header .header nav {
    padding: 20px;

    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header nav li {
    display: inline-block;
}


main .main {
    width: 50%;
    margin: 0 auto;
}

main .main img {
    width: 100%;
    max-width: 50vw;
    height: auto;
}

main .main h1 {
    text-align: center;
}